{
  "extends": [
    "react-app",
    "standard",
    "standard-jsx"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "env": {
    "worker": true,
    "serviceworker": true
  },
  "settings": {
    "react": {
      "version": "16.8.1"
    }
  },
  "plugins": [
    "react-hooks",
    "@typescript-eslint"
  ],
  "rules": {
    "comma-dangle": [
      "warn",
      {
        "arrays": "never",
        "objects": "never",
        "imports": "never",
        "exports": "never",
        "functions": "never"
      }
    ],
    "no-multi-spaces": "off",
    "no-unreachable": "warn",
    "no-useless-escape": [
      "warn"
    ],
    "object-curly-spacing": [
      "warn",
      "always"
    ],
    "node/no-deprecated-api": "warn",
    "spaced-comment": [
      "warn",
      "always",
      {
        "line": {
          "markers": [
            "*package",
            "!",
            "/",
            ",",
            "="
          ]
        },
        "block": {
          "balanced": true,
          "markers": [
            "*package",
            "!",
            ",",
            ":",
            "::",
            "flow-include"
          ],
          "exceptions": [
            "*"
          ]
        }
      }
    ],
    "react/jsx-tag-spacing": [
      "warn",
      {
        "beforeSelfClosing": "always"
      }
    ],
    "react/self-closing-comp": "warn",
    "react-hooks/rules-of-hooks": "error",
    "standard/array-bracket-even-spacing": [
      "warn",
      "either"
    ],
    "standard/computed-property-even-spacing": [
      "warn",
      "even"
    ],
    "standard/object-curly-even-spacing": [
      "warn",
      "either"
    ],
    "camelcase": "off",
    "indent": "off",
    "no-array-constructor": "off",
    "no-unused-vars": "off",
    "@typescript-eslint/no-angle-bracket-type-assertion": "warn",
    "@typescript-eslint/no-array-constructor": "warn",
    "@typescript-eslint/no-namespace": "error",
    "@typescript-eslint/no-unused-vars": [
      "warn",
      {
        "args": "none",
        "ignoreRestSiblings": true
      }
    ]
  }
}
