@charset 'utf-8';

@mixin clearfix {
  &::after {
    content: '';
    display: block;
    height: 0;
    clear: both;
  }
}

@mixin clear-ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin bgi ($image, $size: cover) {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url($image);
  background-size: $size;
}

@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin text-gradient ($color-from, $color-to) {
  color: $color-from;
  background-image: linear-gradient(to right, $color-from 0%, $color-to 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin background-gradient ($color-from, $color-to) {
  background: $color-from;
  background: linear-gradient(to right, $color-from 0%, $color-to 100%);
}

@mixin background-gradient-vertical ($color-from, $color-to) {
  background: $color-from;
  background: linear-gradient(to bottom, $color-from 0%, $color-to 100%);
}

@mixin border-gradient ($color-from, $color-to, $width) {
  border-width: $width;
  border-style: solid;
  border-color: $color-from;
  border-image: linear-gradient(to right, $color-from, $color-to) 1;
}

@mixin border-gradient-vertical ($color-from, $color-to, $width) {
  border-width: $width;
  border-style: solid;
  border-color: $color-from;
  border-image: linear-gradient(to bottom, $color-from, $color-to) 1;
}
