@charset 'utf-8';

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'PingFang SC', 'Hiragino Sans GB', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Open Sans', 'Droid Sans', 'Microsoft YaHei', 'WenQuanYi Micro Hei', 'Helvetica Neue', Tahoma, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$font-family-monospace: 'Fira Code', 'Source Code Pro', Menlo, Monaco, Consolas, 'Liberation Mono', Simsun, 'Courier New', monospace;

$theme-font: $font-family-sans-serif;

$theme-color-bg: #111;
$theme-color-card: #202124;
$theme-color-main: #ce1010;
$theme-color-button: #333;
$theme-color-title: #fff;
$theme-color-text: #666;
$theme-color-border: #111;
$theme-color-th: #e6e6e6;
$theme-color-td: #f7f7f7;
