@import './_common';
@import './_reset';
@import './_animations';

* {
  font-family: $theme-font;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  box-sizing: border-box;

  @at-root ::-webkit-scrollbar {
    width: 0;
    overflow: auto;
  }

  @at-root ::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
    transition: background-color 0.1s;
  }

  @at-root ::-webkit-scrollbar-track-piece {
    background-color: transparent;
    border-radius: 10px;
    transition: background-color 0.1s;
  }

  @at-root ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    transition: background-color 0.1s;
  }

  &:focus {
    outline: none;
  }

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

.scroll-lock {
  overflow: hidden;
}

[disabled] {
  cursor: not-allowed !important;
}

[readonly] {
  cursor: default !important;
}

.clickable {
  cursor: pointer !important;
}

img {
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
div,
th,
td {
  color: #999;
}

input,
textarea,
select {
  &:-webkit-autofill {
    background-color: transparent;
    background-image: none;
    box-shadow: 0 0 0 1000px #fff inset;
    color: #fff;
    -webkit-text-fill-color: #fff;
  }

  &::placeholder {
    color: #cfcfcf;
  }
}

.form-group {
  margin-bottom: 15px;
  position: relative;

  &:last-of-type {
    margin-bottom: 0;
  }
}

#root {
  height: 100%;
  position: relative;
}
