@charset 'utf-8';

@import '../styles/_common.scss';

.appbar {
  height: 72px;
  flex-shrink: 0;
  background-color: $theme-color-card;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin-bottom: 15px;

  .app-title {
    color: #fff;
  }

  .social-links {
    a {
      display: block;

      svg {
        width: 32px;
        height: 32px;
        fill: $theme-color-text;
        transition: fill 0.3s ease-out;
      }

      &:hover {
        svg {
          fill: $theme-color-title;
        }
      }
    }
  }
}
