@charset 'utf-8';

@import '../styles/_common.scss';

.btn {
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  flex-wrap: nowrap;
  background-color: $theme-color-button;
  appearance: none;
  user-select: none;
  outline: none;
  cursor: pointer;
  border-radius: 4px;

  &.btn--large {
    height: 48px;
    line-height: 48px;
    font-size: 16px;
    padding: 0 24px;

    &.btn--border-rounded {
      border-radius: 24px;
    }
  }

  &.btn--medium {
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    padding: 0 20px;

    &.btn--border-rounded {
      border-radius: 20px;
    }
  }

  &.btn--small {
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    padding: 0 10px;
    border-radius: 2px;

    &.btn--border-rounded {
      padding: 0 15px;
      border-radius: 15px;
    }
  }

  .btn__content {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #999;
    white-space: nowrap;
  }

  .btn__loading {
    margin-right: 10px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    border-color: #fff;
    border-bottom-color: transparent;
    animation: rotate 1s infinite linear;
  }

  &.btn--disabled {
    cursor: not-allowed;
    background-color: #999;
  }
}
