@charset 'utf-8';

@import '../styles/_common.scss';

.caibao-card {
  position: relative;
  display: block;
  border-radius: 6px;
  background-color: $theme-color-card;

  & + &:not(:first-child) {
    margin-top: 10px;
  }
}
