@charset 'utf-8';

@import '../styles/_common.scss';

.no-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  height: 100%;

  img {
    display: block;
    width: 200px;
  }

  p {
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    margin-top: 15px;
  }
}
