@charset 'utf-8';

@import '../styles/_common.scss';

.preset {
  $preset-color-normal: #444;
  $preset-color-chosen: #fff;

  display: flex;
  align-items: center;
  flex-basis: 48%;
  border: 1px solid $preset-color-normal;
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 15px;
  cursor: pointer;

  .preset__icon {
    width: 16px;
    height: 16px;
    margin-right: 15px;

    svg {
      width: 16px;
      height: 16px;
      fill: $preset-color-normal;
    }
  }

  .preset__name {
    color: $preset-color-normal;
  }

  &.preset--chosen {
    border-color: $preset-color-chosen;

    .preset__icon {
      svg {
        fill: $preset-color-chosen;
      }
    }

    .preset__name {
      color: $preset-color-chosen;
    }
  }
}
