@charset 'utf-8';

@import '../styles/_common.scss';

.preset-list__container {
  .preset-list__title {
    font-size: 16px;
    color: $theme-color-title;
    line-height: 2;
    margin-bottom: 10px;
  }

  .preset-list__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
