@charset 'utf-8';

@import '../styles/_common.scss';

$zIndex: 10;
$max-items: 5;
$select-height: 44px;

.caibao-select {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: stretch;
  height: $select-height;
}
