@charset 'utf-8';

@import '../styles/_common.scss';

.setting-block__container {
  margin-bottom: 15px;

  .setting-block__title {
    font-size: 16px;
    color: $theme-color-title;
    line-height: 2;
    margin-bottom: 15px;
    position: relative;
    padding-left: 15px;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(-0, -50%);
      width: 4px;
      height: 16px;
      background-color: $theme-color-title;
    }
  }

  .setting-block__content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-left: 15px;
  }
}
